@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgb(30, 41, 59);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(250 250 249);
    border-radius: 100vh;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
}
